* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.navbar {
  min-height: 5rem;
}
.navbar-toggler {
  outline: none !important;
  outline-width: 0 !important;
  border: none;
}
.main .container-fluid .collapse .card .card-body .form-inline input[type="search"] {
  width: 95%;
}
.col-sm-9 .form-inline {
  margin-bottom: 2rem;
}
.col-sm-9 .form-inline input[type="search"] {
  width: 95%;
}
.display-4 {
  font-size: 1.8rem !important;
  font-weight: 200 !important;
}
.cuadro-texto a {
  text-decoration: none;
}
footer {
  background-color: rgba(0, 0, 0, 0.95);
  margin-top: 8rem;
}
footer .container .row .col-12 {
  color: #fff;
}
footer .container .row .col-12 .redes a {
  color: #fff;
  text-decoration: none;
}
/*MEDIA QUERIES*/
@media all and (min-width: 1200px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 94%;
  }
}
@media all and (max-width: 1199px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 93%;
  }
}
@media all and (max-width: 991px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 93%;
  }
}
@media all and (max-width: 767px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 93%;
  }
  .display-4 {
    font-size: 1.4rem !important;
    font-weight: 200 !important;
  }
  .text-muted.lead {
    font-size: 0.95rem !important;
  }
}
@media all and (max-width: 703px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 92%;
  }
}
@media all and (max-width: 622px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 91%;
  }
}
@media all and (max-width: 622px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 89%;
  }
}
@media all and (max-width: 412px) {
  .col-xl-9 .form-inline input[type="search"] {
    width: 87%;
  }
}
